<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% image '@FrameworkBundle/Resources/public/images/logotipo.png' %}
<img src="http://104.236.50.14{{ asset_url }}" class="header-logo" alt="Logo"/>
{% endimage %}

<p>
    <strong>Nombre:</strong> <br>
    {{ contacto.nombre }}<br><br>
    <strong>Teléfono:</strong> <br>
    {{ contacto.telefono }}<br><br>
    <strong>E-Mail:</strong> <br>
    {{ contacto.email }}<br><br>
    <strong>Comentarios:</strong> <br>
    {{ contacto.comentarios }}
</p>

</body>
</html>