{% extends 'baseabc.html.twig' %}

{% block body %}

    <div class="container">
        <br><br>
        <div class="row">
            <nav>
                <div class="nav-wrapper z-depth-1">
                    <div class="col s12  blue darken-1 ">
                        <a href="#!" class="breadcrumb">SEO</a>
                    </div>
                </div>
            </nav>
        </div>

        <br>
        {{ form_start(form) }}

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.titulo) }}
                {{ form_label(form.titulo) }}
                {{ form_errors(form.titulo) }}
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.keywords) }}
                {{ form_label(form.keywords) }}
                {{ form_errors(form.keywords) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.descripcion) }}
                {{ form_label(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.mision) }}
                {{ form_label(form.mision) }}
                {{ form_errors(form.mision) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.telefono) }}
                {{ form_label(form.telefono) }}
                {{ form_errors(form.telefono) }}
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.fax) }}
                {{ form_label(form.fax) }}
                {{ form_errors(form.fax) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.direccion) }}
                {{ form_label(form.direccion) }}
                {{ form_errors(form.direccion) }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.derechosautor) }}
                {{ form_label(form.derechosautor) }}
                {{ form_errors(form.derechosautor) }}
            </div>
        </div>


        <input type="submit" value="Guardar" class="waves-effect waves-light btn blue darken-4 right"/>

        <a href="{{ path('usuario_edit', {}) }}" class="waves-effect waves-light btn blue darken-4 right">Cancelar</a>

        {{ form_end(form) }}
    </div>

    <style>
        body
        {
            background-color: white;
            height: 200vh;
        }
    </style>

    <script>
        document.getElementById('seo_descripcion').required=false;
        document.getElementById('seo_keywords').required=false;

        document.getElementById('seo_mision').required=false;
        document.getElementById('seo_direccion').required=false;
        document.getElementById('seo_derechosautor').required=false;
    </script>
{% endblock %}
