{% extends 'baseabc.html.twig' %}

{% block body %}

    <div id="container">

        <div class="row">
            <nav>
                <div class="nav-wrapper z-depth-1">
                    <div class="col s12  blue darken-1 ">
                        <a href="#!" class="breadcrumb">Destacados</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row">
            <a href="{{ path('destacado_new', {}) }}" class="waves-effect waves-light blue btn right"><i class="material-icons left">add</i>Nuevo destacado</a>
        </div>

        <div class="row" >
            <div class="col s12 m12 l12">

                <table>
                    <thead>
                    <tr>
                        <th>Propiedad</th>
                        <th></th>
                        <th>Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for destacado in destacados %}
                    <tr>
                    <td>
                        {% if (destacado.inmueble.Imagenes|length>0) %}
                            <img class="imginmueble" src="{{ destacado.inmueble.Imagenes[0].getWebPath() }}">
                        {% endif %}
                        <p><i class="material-icons left">camera_alt</i>{{ destacado.inmueble.imagenes | length }}</p>
                    </td>
                    <td>
                        <h5>ID: {{ destacado.inmueble.legacyid }} {{ destacado.inmueble.nombreid }} </h5>
                        <h5>{{ destacado.inmueble.idTipoInmueble.nombre }} en {{ destacado.inmueble.idOperacionInmueble.nombre }}</h5>
                        <ul>
                            <li><i class="material-icons left">location_on</i>{{ destacado.inmueble.calle }}, {{ destacado.inmueble.idEstado.nombre }}, {{ destacado.inmueble.idMunicipio.nombre }} </li>
                            <li>Zona: {{ destacado.inmueble.idZona.nombre }}</li>
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path ('destacado_edit', {'id': destacado.id}) }}"><i class="material-icons left">mode_edit</i></a>
                        <a href="{{ path('destacado_borrar', {'id':destacado.id}) }}" onclick="if (confirm('¿Está seguro que desea borrar este destacado?')) { return true; } else {return false;}"><i class="material-icons left">delete</i></a>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <style>
        body {
            height:100vh;
            background-color: white;
        }
        .imginmueble
        {
            width: 160px;
            height: 128px;
        }
    </style>

{% endblock %}

