<iframe style="width:100%; height:225vh;" frameBorder="0" src="{{ path('consultarinmueble_buscarformvertical', {}) }}">
</iframe>
<iframe id="iframeTarea" src="{{ path('tarea_new', {}) }}" style="width:100%; height:110vh; margin-top:8px; padding-top:-8px" frameBorder="0">
</iframe>
<iframe id="iframeTarea" src="{{ path('tarea_actividades', {}) }}" style="width:100%; height:30vh; margin-top:8px; padding-top:-8px" frameBorder="0">
</iframe>


<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header " style="align-content: center">
            {% if webPathLogo != false %}
                <img src="{{ webPathLogo }}" alt="" class="responsive-img" style="margin-top:10px;width:50px;height:40px;"><br>
            {% endif %}
            <a href="#!"><i class="material-icons right">assignment_ind</i>Mi Cuenta</a>
        </div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">

                {% if is_granted('ROLE_SUPERADMIN') == true %}
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('usuario_new', {}) }}');">
                    <i class="material-icons right">account_circle</i>
                    <span class="blue-text text-darken-2">Crear Usuario</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('asesorpermiso_index', {}) }}');">
                    <i class="material-icons right">account_circle</i>
                    <span class="blue-text text-darken-2">Permisos</span>
                </a>
                {% endif %}

                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('glosario_index', {}) }}');">
                    <i class="material-icons right">text_format</i>
                    <span class="blue-text text-darken-2">Glosario</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('usuario_edit', {}) }}');">
                    <i class="material-icons right">settings</i>
                    <span class="blue-text text-darken-2">Preferencias</span>
                </a>

                {% if is_granted('ROLE_SUPERADMIN') == true %}
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('asesor_index', {}) }}');">
                    <i class="material-icons right">people</i>
                    <span class="blue-text text-darken-2">Asesores</span>
                </a>
                {% endif %}

                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('gerencia_index', {}) }}');">
                    <i class="material-icons right">device_hub</i>
                    <span class="blue-text text-darken-2">Gerencias</span>
                </a>

                {% if asesorpermisos.destacarpropiedad == true %}
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('destacado_index', {}) }}');">
                    <i class="material-icons right">whatshot</i>
                    <span class="blue-text text-darken-2">Destacados</span>
                </a>
                {% endif %}

                <a href="#!" class="collection-item transparent text-darken-2" onclick="window.location.href = '{{ path('panel_documento', {}) }}';">
                    <i class="material-icons right">import_contacts</i>
                    <span class="blue-text text-darken-2">Documentos</span>
                </a>

                <a href="#!" class="collection-item transparent text-darken-2" onclick="window.location.href = '{{ path('panel_blog', {}) }}';">
                    <i class="material-icons right">view_week</i>
                    <span class="blue-text text-darken-2">Blog</span>
                </a>

                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('enlace_index', {}) }}');">
                    <i class="material-icons right">insert_link</i>
                    <span class="blue-text text-darken-2">Enlace</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('colaborador_index', {}) }}');">
                    <i class="material-icons right">portrait</i>
                    <span class="blue-text text-darken-2">Colaboradores</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURLTop('{{ path('panel_resumen', {}) }}');">
                    <i class="material-icons right">event</i>
                    <span class="blue-text text-darken-2">Mi Calendario</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURLTop('{{ path('panel_mensaje', {}) }}');">
                    <i class="material-icons right">message</i>
                    <span class="blue-text text-darken-2">Mis Mensajes</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('formato_index', {}) }}');">
                    <i class="material-icons right">card_travel</i>
                    <span class="blue-text text-darken-2">Formatos</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('comision_index', {}) }}');">
                    <i class="material-icons right">monetization_on</i>
                    <span class="blue-text text-darken-2">Comisiones pagadas</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('rotulo_index', {}) }}');">
                    <i class="material-icons right">warning</i>
                    <span class="blue-text text-darken-2">Rotulos</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('zona_index', {}) }}');">
                    <i class="material-icons right">location_city</i>
                    <span class="blue-text text-darken-2">Zonas</span>
                </a>
                <a href="{{ path('panel_principal', {}) }}" class="collection-item transparent text-darken-2">
                    <i class="material-icons right">monetization_on</i>
                    <span class="blue-text text-darken-2">Precio real</span>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <a><i class="material-icons right">email</i>Envíos</a>
        </div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('listacontacto_index', {}) }}');">
                    <i class="material-icons right">recent_actors</i>
                    <span class="blue-text text-darken-2">Administración de Listas</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('contacto_index', {}) }}');">
                    <i class="material-icons right">person</i>
                    <span class="blue-text text-darken-2">Contactos</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('listacontacto_index', {}) }}');">
                    <i class="material-icons right">email</i>
                    <span class="blue-text text-darken-2">Enviar mensaje a lista</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('ids_index', {}) }}');">
                    <i class="material-icons right">email</i>
                    <span class="blue-text text-darken-2">Enviar varias propiedades</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('banner_index', {}) }}');">
                    <i class="material-icons right">email</i>
                    <span class="blue-text text-darken-2">Enviar banner a lista</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('mensaje_new', {}) }}');">
                    <i class="material-icons right">email</i>
                    <span class="blue-text text-darken-2">Enviar requerimientos</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('mensaje_resumenenvios', {}) }}');">
                    <i class="material-icons right">email</i>
                    <span class="blue-text text-darken-2">Resumen de envíos</span>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">
            <a><i class="material-icons right">library_books</i>Reportes</a>
        </div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('tarea_index', {}) }}');">
                    <i class="material-icons right">event</i>
                    <span class="blue-text text-darken-2">Bitácora de mis propiedades</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2">
                    <i class="material-icons right">event</i>
                    <span class="blue-text text-darken-2">Reporte de seguimiento</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('tarea_index', {}) }}');">
                    <i class="material-icons right">event</i>
                    <span class="blue-text text-darken-2">Reporte de actividad</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('tarea_index', {}) }}');">
                    <i class="material-icons right">event</i>
                    <span class="blue-text text-darken-2">Reporte de Operaciones</span>
                </a>
            </div>
        </div>
    </li>

    <li>
        <div class="collapsible-header ">
            <a><i class="material-icons right">library_books</i>Agencias</a>
        </div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('agencia_index', {}) }}');">
                    <i class="material-icons right">library_books</i>
                    <span class="blue-text text-darken-2">Directorio de Agencias</span>
                </a>
            </div>
        </div>
    </li>
</ul>
<script>
    function abrirURL($url)
    {
        var iframe = document.getElementById('iframePrincipal');
        iframe.style.display='';
        iframe.src = $url;

        $('html, body').animate({ scrollTop: 0 }, 'slow');
    }

    function abrirURLTop($url)
    {
        window.top.location.href = $url;
    }
</script>