{% extends 'baseabc.html.twig' %}

{% block body %}

    <div id="container">

        <div class="row">
            <a href="{{ path('archivo_new', {}) }}?idInmueble={{ idInmueble }}" class="waves-effect waves-light blue btn right"><i class="material-icons left">add</i>Subir archivo</a>
        </div>

        <div class="row" >
            <div class="col s12 m12 l12">

                <table>
                    <thead>
                    <tr>
                        <th>Comentarios</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for archivo in archivos %}
                        <tr>
                            <td>{{ archivo.comentarios }}</td>
                            <td>{{ archivo.fechaCreacion | date('d/M/y h:m:s') }}</td>
                            <td>
                                <a href="{{ archivo.getWebPath() }}" download="archivo" class="modal-action waves-effect waves-green btn-flat">Descargar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <style>
        body {
            height:100vh;
            background-color: white;
        }
    </style>

{% endblock %}

