{% extends 'baseabc.html.twig' %}

{% block body %}

    <div class="container">
        <br><br>
        <div class="row">
            <nav>
                <div class="nav-wrapper z-depth-1">
                    <div class="col s12  blue darken-1 ">
                        <a href="#!" class="breadcrumb">Mi Perfil</a>
                    </div>
                </div>
            </nav>
        </div>

        <br>

        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(form.password.first) }}
                {{ form_label(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </div>

            <div class="input-field col s6">
                {{ form_widget(form.password.second) }}
                {{ form_label(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>

        </div>

        <a href="{{ path('usuario_edit', {}) }}" class="waves-light btn blue darken-4">Cancelar</a>
        <input type="submit" value="Cambiar Password" class="waves-light btn blue darken-4"/>
        {{ form_end(form) }}

    </div>

    <style>
        body{
            background-color: white;
            height: 140vh;
        }
        p
        {
            font-size: small;
        }
    </style>

    <script>

    </script>

{% endblock %}


