{% extends 'baseabc.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <!-- Page Layout here -->
            <br/>
            <div class="row">
                <nav>
                    <div class="nav-wrapper z-depth-1">
                        <div class="col s12  blue darken-1 ">
                            <a href="#!" class="breadcrumb">Mensajes</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="row">
                {% if esVerMensajesBorrados == false %}
                <a href="{{ path('mensaje_index', {}) }}.xlsx" class="waves-effect waves-light btn blue darken-1">Generar Excel</a>
                <a href="{{ path('mensaje_indexborrado', {}) }}" class="waves-effect waves-light btn blue darken-1">Ver Mensajes Borrados</a>
                {% else %}
                <a href="{{ path('mensaje_indexborrado', {}) }}.xlsx" class="waves-effect waves-light btn blue darken-1">Generar Excel</a>
                <a href="{{ path('mensaje_index', {}) }}" class="waves-effect waves-light btn blue darken-1">< Regresar</a>
                {% endif %}
            </div>

            <div class="row">
                {% for mensaje in mensajes %}
                    <div class="col s12 m12">
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="col s3">
                                    {% if (mensaje.Inmuebles|length>0) %}
                                        {% if (mensaje.Inmuebles[0].Imagenes|length>0) %}
                                        <img class="imginmueble" src="{{ mensaje.Inmuebles[0].Imagenes[0].getWebPath() }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col s4">
                                    {% image '@FrameworkBundle/Resources/public/images/ic_usuario.jpg' %}
                                        <img src="{{ asset_url }}" alt="" class="circle responsive-img" style="width:50%;margin-left: 25%">
                                    {% endimage %}

                                    {% if mensaje.idUsuario is not null %}
                                        <div style="align-content: center; text-align: center;">{{ mensaje.idUsuario.nombre }}<br>{{ mensaje.idUsuario.telefono }}<br>{{ mensaje.idUsuario.email }}<br>
                                            <a href="#" onclick="window.location = '{{ path('prospecto_new', {}) }}?nombre={{ mensaje.idUsuario.nombre }}&email={{ mensaje.idUsuario.email }}&telefono={{ mensaje.idUsuario.telefono }}';">Agregar Prospecto</a>
                                        </div>
                                    {% else %}
                                        <div style="align-content: center; text-align: center;">{{ mensaje.nombre }}<br>{{ mensaje.telefono }}<br>{{ mensaje.emailremitente }}<br>
                                            <a href="#" onclick="window.location = '{{ path('prospecto_new', {}) }}?nombre={{ mensaje.nombre }}&email={{ mensaje.emailremitente }}&telefono={{ mensaje.telefono }}';">Agregar Prospecto</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col s6">
                                    <span class="black-text">
                                        <h5>{{ mensaje.titulo }}</h5>
                                        <p>{{ mensaje.fechaCreacion |date("d/m/Y H:i:s")  }}</p>

                                        {{ mensaje.texto }}

                                        <br>

                                        {% for inmueble in mensaje.inmuebles  %}
                                            <br>
                                            <a href="{{ path("inmueble_show", {"id":inmueble.idInmueble})  }}">Propiedad {{ inmueble.legacyid  }}</a>
                                        {% endfor %}

                                        {% for solicitud in mensaje.solicitudes  %}
                                            <br>
                                            <a href="{{ path("solicitud_show", {"id":solicitud.idSolicitud})  }}">Ver solicitud</a>
                                        {% endfor %}
                                    </span>
                                </div>

                                <div class="col s1">
                                    {% if esVerMensajesBorrados == false %}
                                    <form action="{{ path('mensaje_borrar', {'idMensaje': mensaje.idMensaje}) }}" method="post">
                                        <input type="submit" value="Borrar" class="waves-effect waves-light btn gray darken-4 right">
                                    </form>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: white;
            height: 100vh;
        }
        .imginmueble
        {
            width: 200px;
            height: 140px;
        }
    </style>

{% endblock %}

{% block javascripts %}
{% endblock %}
