{% extends 'baseabc.html.twig' %}

{% block body %}

    <div class="container">
        <br/>
        <div class="row">
            <nav>
                <div class="nav-wrapper z-depth-1">
                    <div class="col s12  blue darken-1 ">
                        <a href="#!" class="breadcrumb">Prospectos</a>
                        <a href="#!" class="breadcrumb">Asignar Propiedad</a>
                    </div>
                </div>
            </nav>
        </div>
        <br/>
        <div class="row">
            <div class="formcontainer">
                <div>
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.prospecto) }}
                            {{ form_label(form.prospecto) }}
                            {{ form_errors(form.prospecto) }}
                        </div>
                    </div>

                    <input type="submit" value="Asignar" class="waves-effect waves-light btn blue darken-4 right"/>

                    {{ form_end(form) }}
                    <a href="{{ url }}" class="waves-effect btn blue darken-4 left">Cancelar<a/>

                </div>
        </div>
    </div>

    <style>
        body{
            background-color: white;
            height: 100vh;
        }
    </style>

    <script>
    $(document).ready(function() {
                $('select').material_select();
        });
    </script>

{% endblock %}
