<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% image '@FrameworkBundle/Resources/public/images/logotipo.png' %}
<img src="http://104.236.50.14{{ asset_url }}" class="header-logo" alt="Logo"/>
{% endimage %}

<h4>Se ha preguntado una propiedad que usted dió de alta</h4>
<a href="http:///104.236.50.14/PD/web/app_dev.php/buscarinmueble/showfs/{{ idInmueble }}"></a><br><br>
Datos de contacto:<br>
Nombre: {{ nombre }}<br>
Tel.: {{ telefono }}<br>
E-mail: {{ email }}<br>
Comentarios: {{ comentarios }}<br>

<p>Saludos cordiales.</p>
</body>
</html>