{% extends 'baseabc.html.twig' %}

{% block body %}
    <div class="row white z-depth-2">
        <div class="formcontainer">
            <br><br>
            <div class="row">
                <div class="input-field col s12">
                    <a class="waves-effect btn right blue darken-4" onclick="actualizarBusqueda();">
                        Buscar
                        <i class="material-icons left">search</i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.id_usuario) }}
                    {{ form_label(form.id_usuario) }}
                    {{ form_errors(form.id_usuario) }}
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.id_tipo_inmueble) }}
                    {{ form_label(form.id_tipo_inmueble) }}
                    {{ form_errors(form.id_tipo_inmueble) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.id_operacion_inmueble) }}
                    {{ form_label(form.id_operacion_inmueble) }}
                    {{ form_errors(form.id_operacion_inmueble) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.id_estado) }}
                    {{ form_label(form.id_estado) }}
                    {{ form_errors(form.id_estado) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.id_municipio) }}
                    {{ form_label(form.id_municipio) }}
                    {{ form_errors(form.id_municipio) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.colonia) }}
                    {{ form_label(form.colonia) }}
                    {{ form_errors(form.colonia) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.precio) }}
                    {{ form_label(form.precio) }}
                    {{ form_errors(form.precio) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.preciomax) }}
                    {{ form_label(form.preciomax) }}
                    {{ form_errors(form.preciomax) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metrosterreno) }}
                    {{ form_label(form.metrosterreno) }}
                    {{ form_errors(form.metrosterreno) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metrosterrenomax) }}
                    {{ form_label(form.metrosterrenomax) }}
                    {{ form_errors(form.metrosterrenomax) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metrosconstruccion) }}
                    {{ form_label(form.metrosconstruccion) }}
                    {{ form_errors(form.metrosconstruccion) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.metrosconstruccionmax) }}
                    {{ form_label(form.metrosconstruccionmax) }}
                    {{ form_errors(form.metrosconstruccionmax) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.preciometroterrenomin) }}
                    {{ form_label(form.preciometroterrenomin) }}
                    {{ form_errors(form.preciometroterrenomin) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.preciometroterrenomax) }}
                    {{ form_label(form.preciometroterrenomax) }}
                    {{ form_errors(form.preciometroterrenomax) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.preciometroconstruccionmin) }}
                    {{ form_label(form.preciometroconstruccionmin) }}
                    {{ form_errors(form.preciometroconstruccionmin) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.preciometroconstruccionmax) }}
                    {{ form_label(form.preciometroconstruccionmax) }}
                    {{ form_errors(form.preciometroconstruccionmax) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.amueblado) }}
                    {{ form_label(form.amueblado) }}
                    {{ form_errors(form.amueblado) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.alberca) }}
                    {{ form_label(form.alberca) }}
                    {{ form_errors(form.alberca) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.mostrarinactivas) }}
                    {{ form_label(form.mostrarinactivas) }}
                    {{ form_errors(form.mostrarinactivas) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.recamaras) }}
                    {{ form_label(form.recamaras) }}
                    {{ form_errors(form.recamaras) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.plantas) }}
                    {{ form_label(form.plantas) }}
                    {{ form_errors(form.plantas) }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <a class="waves-effect btn right blue darken-4" onclick="actualizarBusqueda();">
                        Buscar
                        <i class="material-icons left">search</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style>
        body
        {
            overflow: hidden;
        }
    </style>

    <script>

        $(document).ready(function() {
            $('select').material_select();
        });

        var selectorTipoInmueble = document.getElementById('buscar_inmueble_id_tipo_inmueble');

        var selectorOperacion = document.getElementById('buscar_inmueble_id_operacion_inmueble');
        selectorOperacion.options.add(new Option("Todos", -1), 0);
        selectorOperacion.selectedIndex=0;

        var selectorEstado = document.getElementById('buscar_inmueble_id_estado');
        selectorEstado.options.add(new Option("Todos", -1), 0);
        selectorEstado.selectedIndex=0;

        var selectorMunicipio = document.getElementById('buscar_inmueble_id_municipio');
        selectorMunicipio.options.add(new Option("Todos", -1), 0);
        selectorMunicipio.selectedIndex=0;

        var selectorUsuario = document.getElementById('buscar_inmueble_id_usuario');
        selectorUsuario.options.add(new Option("Todos", -1), 0);

        //var ciudad = document.getElementById('buscar_inmueble_ciudad');

        var colonia = document.getElementById('buscar_inmueble_colonia');

        var precio = document.getElementById('buscar_inmueble_precio');

        var preciomax = document.getElementById('buscar_inmueble_preciomax');

        var metrosterreno = document.getElementById('buscar_inmueble_metrosterreno');

        var metrosterrenomax = document.getElementById('buscar_inmueble_metrosterrenomax');

        var recamaras = document.getElementById('buscar_inmueble_recamaras');

        var plantas = document.getElementById('buscar_inmueble_plantas');

        var metrosconstruccion = document.getElementById('buscar_inmueble_metrosconstruccion');

        var metrosconstruccionmax = document.getElementById('buscar_inmueble_metrosconstruccionmax');

        var preciometroterrenomin = document.getElementById('buscar_inmueble_preciometroterrenomin');
        var preciometroterrenomax = document.getElementById('buscar_inmueble_preciometroterrenomax');
        var preciometroconstruccionmin = document.getElementById('buscar_inmueble_preciometroconstruccionmin');
        var preciometroconstruccionmax = document.getElementById('buscar_inmueble_preciometroconstruccionmax');

        var amueblado = document.getElementById('buscar_inmueble_amueblado');
        var alberca = document.getElementById('buscar_inmueble_alberca');
        var mostrarinactivas = document.getElementById('buscar_inmueble_mostrarinactivas');

        //document.getElementById('buscar_inmueble_id_municipio').addEventListener('change', onChangeEstado, false);

        function onChangeEstado()
        {

            var selectorEstado = document.getElementById('buscar_inmueble_id_estado');
            var url = 'http://' + window.location.hostname  + '{{ path('municipio_index', {}) }}?indexEstado=' + selectorEstado.value;

            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    var options, index, select, option;

                    // Get the raw DOM object for the select box
                    select = document.getElementById('buscar_inmueble_id_municipio');

                    // Clear the old options
                    select.options.length = 0;
                    select.options.add(new Option('Todos', -1));

                    // Load the new options
                    options = data; // Or whatever source information you're working with
                    for (index = 0; index < options.length; ++index) {
                        option = options[index];

                        select.options.add(new Option(option.nombre, index));
                    }

                    $('select').material_select();

                    //onChangeMunicipio();
                }
            });
        }
/*
        function onChangeMunicipio()
        {
            var selectorEstado = document.getElementById('consultar_inmueble_id_estado');
            var selectorMunicipio = document.getElementById('consultar_inmueble_id_municipio');
            var url = 'http://' + window.location.hostname  + '{{ path('colonia_index', {}) }}?indexMunicipio=' + selectorMunicipio.value + '&indexEstado=' + selectorEstado.value;

            $.ajax({
                url: url,
                dataType: "json",
                success: function(data) {
                    var options, index, select, option;

                    // Get the raw DOM object for the select box
                    select = document.getElementById('consultar_inmueble_id_colonia');

                    // Clear the old options
                    select.options.length = 0;
                    select.options.add(new Option('Todos', -1));

                    // Load the new options
                    options = data; // Or whatever source information you're working with
                    for (index = 0; index < options.length; ++index) {
                        option = options[index];

                        select.options.add(new Option(option.nombre, index));
                    }
                    $('select').material_select();
                }
            });
        }
*/
        function onChangeColonia() {

        }

        function actualizarBusqueda()
        {
            if (alberca.checked)
            {
                boolalberca=1;
            }
            else
            {
                boolalberca=0;
            }

            if (amueblado.checked)
            {
                boolamueblado=1;
            }
            else
            {
                boolamueblado=0;
            }

            if (mostrarinactivas.checked)
            {
                boolmostrarinactivas=1;
            }
            else
            {
                boolmostrarinactivas=0;
            }

            var parametros = 'buscar_inmueble%5Bid_tipo_inmueble%5D=' + selectorTipoInmueble.options[selectorTipoInmueble.selectedIndex].value + '&' +
                    'buscar_inmueble%5Bid_operacion_inmueble%5D=' + selectorOperacion.options[selectorOperacion.selectedIndex].value + '&' +
                    'buscar_inmueble%5Bid_estado%5D=' + selectorEstado.options[selectorEstado.selectedIndex].value + '&' +
                    'buscar_inmueble%5Bid_municipio%5D=' + selectorMunicipio.options[selectorMunicipio.selectedIndex].value + '&' +
                    'buscar_inmueble%5Bcolonia%5D=' + colonia.value + '&' +
                    'buscar_inmueble%5Bprecio%5D=' + precio.value + '&' +
                    'buscar_inmueble%5Bpreciomax%5D=' + preciomax.value + '&' +
                    'buscar_inmueble%5Bmetrosterreno%5D=' + metrosterreno.value + '&' +
                    'buscar_inmueble%5Bmetrosterrenomax%5D=' + metrosterrenomax.value + '&' +
                    'buscar_inmueble%5Brecamaras%5D=' + recamaras.value + '&' +
                    'buscar_inmueble%5Bplantas%5D=' + plantas.value + '&' +

                    'buscar_inmueble%5Bmetrosconstruccion%5D=' + metrosconstruccion.value + '&' +
                    'buscar_inmueble%5Bmetrosconstruccionmax%5D=' + metrosconstruccionmax.value + '&' +

                    'buscar_inmueble%5Bpreciometroterrenomin%5D=' + preciometroterrenomin.value + '&' +
                    'buscar_inmueble%5Bpreciometroterrenomax%5D=' + preciometroterrenomax.value + '&' +
                    'buscar_inmueble%5Bpreciometroconstruccionmin%5D=' + preciometroconstruccionmin.value + '&' +
                    'buscar_inmueble%5Bpreciometroconstruccionmax%5D=' + preciometroconstruccionmax.value + '&' +

                    'buscar_inmueble%5Bid_usuario%5D=' + selectorUsuario.options[selectorUsuario.selectedIndex].value + '&' +

                    'buscar_inmueble%5Balberca%5D=' + boolalberca + '&' +
                    'buscar_inmueble%5Bamueblado%5D=' + boolamueblado + '&' +
                    'buscar_inmueble%5Bmostrarinactivas%5D=' + boolmostrarinactivas;


            parent.actualizarBusqueda(parametros);
        }
    </script>


{% endblock %}
