{% extends 'baseabc.html.twig' %}

{% block body %}

<br>

{{ form_start(form) }}

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}
    </div>
</div>

<input type="submit" value="Guardar" class="waves-effect waves-light btn blue accent-4 right"/>
<a href="{{ path('banner_index', {}) }}" class="waves-effect waves-light btn blue accent-4 right">Cancelar<a/>

    {{ form_end(form) }}

    {% block stylesheets %}
        <style>

            body {
                height:100vh;
            }

        </style>
    {% endblock %}

    {% endblock %}
