<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}iRealty CRM{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% stylesheets '@FrameworkBundle/Resources/public/materialize/css/*'
    '@FrameworkBundle/Resources/public/css/*'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .progress {
            position: absolute;
            margin-top: 0px;
            height: 3px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {% javascripts '@FrameworkBundle/Resources/public/materialize/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
<body onload="document.getElementById('divProgress').style.display='none';">
<div id="divProgress" class="progress" >
    <div class="indeterminate"></div>
</div>

{{ render(controller(
'AppBundle:Minisitio:headershow',
{ }
)) }}

{% block body %}{% endblock %}

{{ render(controller(
'AppBundle:Footer:show',
{ }
)) }}

{% block javascripts %}

{% endblock %}

</body>

</html>
