{% extends 'baseabc.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <!-- Page Layout here -->
            <br/>

            <div class="row">
                <table class="striped">
                    <tbody>
                    {% set index=0 %}
                    {% for inmueble in inmuebles %}
                        <tr>
                            <td>
                                {% if (inmueble.Imagenes|length>0) %}
                                    <img class="imginmueble" src="{{ inmueble.Imagenes[0].getWebPath() }}">
                                {% endif %}
                                <p><i class="material-icons left">camera_alt</i>{{ inmueble.imagenes | length }}</p>
                            </td>
                            <td>
                                <h5>ID: {{ inmueble.legacyid }} {{ inmueble.nombreid }} </h5>
                                <h5>{{ inmueble.idTipoInmueble.nombre }} en {{ inmueble.idOperacionInmueble.nombre }}</h5>
                                <ul>
                                    <li><i class="material-icons left">location_on</i>{{ inmueble.idMunicipio.nombre }}, {{ inmueble.idEstado.nombre }}, {{ inmueble.calle }} </li>
                                    <li>Zona: {{ inmueble.idZona.nombre }}</li>
                                    <br>
                                    <li>{{ inmueble.idMoneda.simbolo }} {{inmueble.precio|number_format(2, '.', ',')}}</li>
                                    <br>
                                    <li>
                                        <p>Visitas: {{ visitas[index] }}</p>
                                        {% set index = index + 1 %}
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <ul>
                                    <li>Oficina: Proper Deal</li>

                                    <br>
                                    <li>Creada el: {{ inmueble.fechaCreacion | date('d/m/Y') }}</li>
                                    <li>Por: {{ inmueble.idUsuario.nombre }}</li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock %}

{% block stylesheets %}

    <style>
        body {
            background: white;
            height: 100vh;
        }
        p
        {
            font-size: small;
        }
        .imginmueble
        {
            width: 160px;
            height: 128px;
        }
    </style>

{% endblock %}
